body {
	display: flex;	
	flex-direction: column;
	margin: 0;
	font-family: monospace;
}

main {
	background-color: rgb(174, 221, 218);
	height: 60vh;
}

#topMain {
	display: flex;
	justify-content: space-between;
}

#scoreboard {
	border:	2px rgb(135, 134, 133) solid;
	height: 160px;
	width: 135px;
	display: flex;	
	flex-wrap: wrap;
	color: rgb(135, 134, 133);
	font-size: 15px;
}

#scoreboard div {
	border: 1px rgb(135, 134, 133) solid;
	height: 24%;
	width: 100%;
	line-height: 100%;
}

.divsec {
	margin: 0;
	padding: 0 10px 0 10px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

#moon {
	height: 164px;
	width: 230px;
	visibility: hidden;
}

#sun {
	height: 180px;
	width: 230px;
	visibility: visible;
}

#ground {
	height: 10vh;
	background-color: green;
}

h1 {
	padding: 0;
	margin: 0;
	color: rgb(155, 141, 133);
}

#UI {
	height: 30vh;
	background-color: rgb(76, 32, 6);
	text-align: center;
}

button {
	font-family: monospace;
	font-size: 15px;
	margin: 20px;
	text-align: center;
}

form {
	text-align: center;
}